<div class="container">
    <div class="dropdown">
      <button class="btn-outline-dark dropdown-toggle rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 60%;">
        類別
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>
    <div class="amount pt-4 pb-3">
        <div><p>總金額 :</p>
        </div>
        <div style='font-size: 50px; padding-left: 25%; color: rgb(218, 120, 54);'>25260</div>
    </div>
    <div class="list-groups">
      <div class="list-items">
        <div class="item-contents">
          <div class="item-content">
            <div class="item-contents-front">
              <i class="fas fa-home fa-2x"></i>
              <div class="items pt-1">
                <span>午餐</span>
                <span>日期</span>
              </div>
            </div>  
            <div class="p-3">
              60
            </div> 
          </div>
          <div class="list-button p-3">
            <a href="#">修改</a>
            <a href="#">刪除</a>
          </div>   
        </div>
      </div>

      <div class="list-items">
        <div class="item-contents">
          <div class="item-content">
            <div class="item-contents-front">
              <img src="" alt="">
              <div class="items pt-1">
                <span>午餐</span>
                <span>日期</span>
              </div>
            </div>  
            <div class="p-3">
              60
            </div> 
          </div>
          <div class="list-button p-3">
            <a href="#">修改</a>
            <a href="#">刪除</a>
          </div>   
        </div>
      </div>

      <div class="list-items">
        <div class="item-contents">
          <div class="item-content">
            <div class="item-contents-front">
              <img src="" alt="">
              <div class="items pt-1">
                <span>午餐</span>
                <span>日期</span>
              </div>
            </div>  
            <div class="p-3">
              60
            </div> 
          </div>
          <div class="list-button p-3">
            <a href="#">修改</a>
            <a href="#">刪除</a>
          </div>   
        </div>
      </div>
      
      <div class="add-button">
        <button type="submit" class="btn rounded-0 mt-3">新增支出</button>
      </div>
    </div>
  </div>

  {{!-- <i class="fas fa-shuttle-van"></i>
  <i class="fas fa-grin-beam"></i>
  <i class="fas fa-utensils"></i>
  <i class="fas fa-pen"></i> --}}